<nav class="navbar sticky-top navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Yelp-camp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">キャンプ場</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">新規登録</a>
        </li>
      </ul>

      <!-- ログイン状態に応じてレンダリングされるボタンを制御する -->
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
        <a href="/login" class="nav-link">ログイン</a>
        <a href="/register" class="nav-link">ユーザー登録</a>
        <% } else { %>
        <a href="/logout" class="nav-link">ログアウト</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
