<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelp-camp |</title>
  </head>
  <body>
    <!-- このテンプレートを使用するので、各ページの中身はbodyの中に入る -->
    <%- body -%>
  </body>
</html>
