<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yelp-camp |</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main class="container mx-auto">
      <!-- このテンプレートを使用するので、各ページの中身はbodyの中に入る -->
      <%- body -%>
    </main>
  </body>
</html>
