<% layout('layouts/boilerplate') -%>
<h1>キャンプ場の編集</h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
  <div>
    <label for="title">タイトル</label>
    <input
      type="text"
      id="title"
      name="campground[title]"
      value="<%= campground.title  %>"
    />
  </div>

  <div>
    <label for="location">場所</label>
    <input
      type="text"
      id="location"
      name="campground[location]"
      value="<%=
        campground.location %>"
    />
  </div>
  <button>更新する</button>
</form>
<a href="/campgrounds">一覧に戻る</a>
