<% layout('layouts/boilerplate') -%>
<h1>キャンプ場の新規登録</h1>
<form action="/campgrounds" method="post">
  <div>
    <label for="title">タイトル</label>
    <input type="text" id="title" name="campground[title]" />
  </div>

  <div>
    <label for="location">場所</label>
    <input type="text" id="location" name="campground[location]" />
  </div>
  <button>登録する</button>
</form>
<a href="/campgrounds">一覧に戻る</a>
